<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>All Notes</title>
</head>
<body>

  <h1>Notes</h1>

  <form action="/notes" method="GET">
    <label for="searchInput">Search:</label>
    <input type="text" name="searchTerm" id="searchInput">
    <button>Search</button>
  </form>
  
  <ul>
  <% notes.forEach(note => { %>
    <li>
      <h2><%= note.title %></h2>
      <p><%= note.contents.substring(0, 200) %>...</p>
      <p><%= new Date(note.timestamp) %></p>
      <a href="/notes/<%= note.id %>">View More</a>
    </li>
  <% }) %>
  </ul>

  <a href="/createNote">Create New Note</a>

</body>
</html>